name: Java CI with Maven

on:
  push:
    branches: [ "feature-javadoc", "main" ]
  pull_request:
    branches: [ "feature-javadoc", "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'microsoft'
          cache: maven
      - name: Setup Maven 3.9.11
        uses: stCarolas/setup-maven@v5
        with:
          maven-version: 3.9.11
      - name: Verify Versions
        run: |
          java -version
          mvn -version
      - name: Build with Maven
        run: mvn -B package --file pom.xml